<div class="container">
    <p class="container-title">Powerful AI-Driven Insights</p>
    <p class="container-description">Transform your data into actionable intelligence</p>
    <div class="cards">
        <div class="card">
           <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke=yellow stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap text-yellow-400" aria-hidden="true"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"></path></svg>
           <p class="card-title">Lighting Fast</p>
           <p class="card-description">Get insights in seconds, not hours. Our AI processes your data instantly.</p>
        </div>
        <div class="card">
           <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke=green stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-up text-green-400" aria-hidden="true"><path d="M16 7h6v6"></path><path d="m22 7-8.5 8.5-5-5L2 17"></path></svg>
           <p class="card-title">Predictive Analytics</p>
           <p class="card-description">Forecast trends and make data-driven decisions with confidence.</p>
        </div>
        <div class="card">
           <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#60A5FA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square text-blue-400" aria-hidden="true"><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"></path></svg>
           <p class="card-title">Natural Language</p>
           <p class="card-description">Ask questions in plain English. No SQL or coding knowledge needed.</p>
        </div>           
    </div>
</div>