<div class="container">
    <div class="card">
        <div class="card1-left">
            <div class="question-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#60A5FA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square text-blue-400" aria-hidden="true"><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"></path></svg>
                <p>What is most common things in bad reviews?</p>
            </div>
            <p class="answer">Most common words in bad reviews</p>
            <div class="data">
                <div class="card-mini">
                    <p class="card-mini1">Long Waiting time 70%</p>
                </div>
                <div class="card-mini">
                    <p class="card-mini2">Rude Staff 50%</p>
                </div>
                <div class="card-mini">
                    <p class="card-mini3">Bad Food 30%</p>
                </div>
            </div>
        </div>
        <div class="card1-right">
            <img class="restaurant-img" src="assets/images/restaurant.jpg" alt="review illustration">
        </div>
    </div>

    <div class="card">
        <div class="card2-container">
            <div class="title-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#60A5FA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"></path></svg>
                <p>Give me an Analysis of live comments from the match</p>
            </div>
            <div class="data-container">
                <div class ="analysis-report">
                    <div class="card-mini">
                            <p class="card-mini7">Analysis Report</p>
                    </div>
                    <p class="analysis-text">Premier League match Manchester City vs Arsenal</p>
                </div>
                <div class="data">
                        <div class="card-mini">
                            <p class="card-mini4">Great Match</p>
                        </div>
                        <div class="card-mini">
                            <p class="card-mini5">Haaland</p>
                        </div>
                        <div class="card-mini">
                            <p class="card-mini6">fought Match</p>
                        </div>
                        <div class="card-mini">
                            <p class="card-mini8">Teamwork</p>
                        </div>
                </div>
            </div>
            <p class="sentiment-analysis"><b>Sentiment Analysis Report:</b> Fans highlight Haaland’s strength and determination during a tough match, expressing excitement and confidence throughout the game.</p>
            <div class="dendogram-container">
                <img class="dendogram-img" src="assets/images/dendogram.png" alt="dendogram">
            </div>
        </div>
    </div>

 
</div>

