$body: #161f31;
.home-content{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    padding-left: 130px;
    background-color: $body;
    height: fit-content;
}
.section2{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    padding-left: 130px;
    background-color: #101622;
    height: fit-content;
}
.section1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: $body;
    height: fit-content;
}
.section1-left{
    display: flex;
    width: 50%;
    align-items: center;
    margin-top: -70px;
}
.section1-right{
    width: 50%;
}

