$header: #0c112b;
$links: #C6D0DC;
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 100px;
    background-color: $header;
    color: white;
    border-bottom: 1px solid #333333;
}
.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
}
.navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}
.link{
    color: $links; 
    a, > * {
        color: inherit;
        transition: color 150ms ease;
    }
    a { text-decoration: none; }
    &:hover, &:hover a, &:hover > * {
        color: #ffffff;
    }
}
.logo-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
}


.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.navigation-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.logo-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue; /* fallback */
    background-image: linear-gradient(180deg, blue 0%, lightblue 100%);
}

.sign {
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #2563EB;
    transition: background-color 150ms ease;
    &:hover {
        background-color: #245fde;
        cursor: pointer;
    }
}
